.generic-content{

	p{
    line-height: 1.2;
	color: #757575;
    font-size: .94rem;
    font-weight: 300;
       

	@mixin atSmall{
     color: #757575;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
	}

}

h3{

    	margin-top:.7rem;
    	@mixin atMedium {

    		margin-top:1.2rem;
    	}
    }

    &-footer{

    	

    	p{

    		color: rgba(255,255,255,.8);
    	}

    	
    }

}