.primary-nav{
   
  
    
    .site-header--dark &{ 

         img{
            background-color: rgba(0,0,0,.7);
            border-radius: 3px;
           } 
        
    li{
     padding-top: 13px;


   }

   a{

    color: rgba(0,0,0,.8);
   }

      }
    
   @mixin atMedium{
      background-color:transparent;
      height: 70px;

      }

   ul{
   	padding: 0;
      
   	@mixin clearfix;
       text-align: center;
     
      @mixin atMedium{

         display: inline-block;
      }
   }
   

   a{

   	color: rgba(0,0,0,.7);
      font-size: .9rem;
      font-weight: 400;
        @mixin atMedium{
          color: rgba(255,255,255,1);
          &.is-current-link{

            color: red;
          }
          
        }
        @mixin atLarge{
                 font-size: 1rem;
                }
   	&:hover{

   		color:red;
   	}



}
   &__pull-left{

       

       li{

         padding-top: 25px;
         
          padding-right:20px; 
          list-style: none;
          

                @mixin atMedium{
                   float: left;
                  padding-right:30px;
                }
                @mixin atLarge{
                  padding-right:40px;
                }

         
                
         
       }
              @mixin atMedium{
                margin-left: 50px;
                

               
                }
              @mixin atLarge{
                margin-left: 180px;
                
                }
   }

   
   &__pull-right{

    img{

      height: 15px;
      width: 15px;
      background-color: rgba(0,0,0,.7);
    }


     a{

          

          color: white;
      
      }
     float: left;

     width: 200px;
    
     margin-left: 50%;
     transform: translateX(-50%);
     

      @mixin atMedium{
       width: inherit;
         float: right;
           
           margin-left: 0;
           transform: translateX(0);

           img{

            background-color: transparent;
           }


      }

      li{
      display: inline-block;
      padding-top: 24px;
       padding-bottom: 20px;
      padding-right: 15px;
      list-style: none;
      

      @mixin atMedium{
         float: left;
        padding-right: 15px;


      }
       @mixin atLarge{
        padding-right: 20px;
 
      }

      }



   }
   

	&--modal-box{
  

    
  a{

    color: #FFF;
    cursor: pointer;
  }
    li{
       
      list-style: none;
      display: inline-block;
      padding-right: 20px;
    }
  }

}