.row{

&__border{

	border-bottom: 1px solid rgba(255,255,255,.1);
	margin-bottom: 2.5rem;
	padding-bottom: 2rem;

	@mixn atMedium{

	margin-bottom: 2rem;
	padding-bottom: 2rem;
	}
}	
@mixin clearfix;

&--gutters{
	margin-right: -30px;
}
&--gutters-medium{

	margin-right: -80px;
}

&--gutters-large{

	margin-right: -100px;
}


&--gutters > div{

	padding-right: 30px;
}

&--gutters-medium >div{
	padding-right: 80px;
}

&--gutters-large > div{

padding-right: 100px;
}





@mixin atMedium{

	&__medium-2{

		float: left;
		width: 15%;
	}

	&__medium-3{
		float: left;
		width: 25%;
	}
   
	&__medium-4{

		float: left;
		width: 33.33%;

	}
	&__medium-4-small{
     float: left;
     width:25%;
	}
	&__medium-4-large{
      float: left;
      width:41.66%;
	}

	&__medium-6{

		float:left;
		width: 50%;
	}


	&__medium-6-large{
     
     float: left;
     width: 62%;

	}
     
     &__medium-6-small{

         float: left;
         width: 38%;
     }

}
}