

.icon{
background-image:url('/temp/sprite/css/sprite-7f931b5a.svg');

}
.icon--clear-view-escapes{

	width: 142.4px;
	height:59.53px;
	background-position:0 0;
}

.icon--clockx{

	width: 50px;
	height:50px;
	background-position:98.75598086124401% 23.366666666666667%;
}

.icon--comment{

	width: 64px;
	height:64px;
	background-position:0 35.86144578313253%;
}

.icon--facebook{

	width: 21.23px;
	height:42.01px;
	background-position:86.80657778525466% 71.31762327783392%;
}

.icon--fire{

	width: 56px;
	height:64px;
	background-position:31.527093596059114% 35.86144578313253%;
}

.icon--globe{

	width: 64px;
	height:64px;
	background-position:73.02564102564102% 0;
}

.icon--instagram{

	width: 42.01px;
	height:42.01px;
	background-position:95.11959076455136% 48.97068993031544%;
}

.icon--mail{

	width: 64px;
	height:48px;
	background-position:73.02564102564102% 35.16483516483517%;
}

.icon--rain{

	width: 64px;
	height:64px;
	background-position:0 74.41566265060241%;
}

.icon--star{

	width: 64px;
	height:64px;
	background-position:32.82051282051282% 74.41566265060241%;
}

.icon--twitter{

	width: 51.78px;
	height:42.06px;
	background-position:99.60428530064665% 0;
}

.icon--wifi{

	width: 60px;
	height:64px;
	background-position:64.321608040201% 74.41566265060241%;
}

.icon--youtube{

	width: 34.75px;
	height:42px;
	background-position:0 99.75%;
}
