

.icon{
background-image:url('../../assets/images/sprites/sprite-319202ef.svg');

}
.icon--clear-view-escapes{

	width: 142.4px;
	height:59.53px;
	background-position:0 0;
}

.icon--clock{

	width: 96px;
	height:96px;
	background-position:0 48.00806451612903%;
}

.icon--comment{

	width: 64px;
	height:64px;
	background-position:68.79227053140097% 0;
}

.icon--facebook{

	width: 21.23px;
	height:42.01px;
	background-position:38.43536053168915% 57.04814877240294%;
}

.icon--fire{

	width: 56px;
	height:64px;
	background-position:66.23255813953489% 41.02564102564103%;
}

.icon--globe{

	width: 64px;
	height:64px;
	background-position:99.71014492753623% 0;
}

.icon--instagram{

	width: 42.01px;
	height:42.01px;
	background-position:41.923228088562816% 33.44569919658407%;
}

.icon--mail{

	width: 64px;
	height:48px;
	background-position:99.71014492753623% 37.2093023255814%;
}

.icon--rain{

	width: 64px;
	height:64px;
	background-position:0 99.69871794871794%;
}

.icon--star{

	width: 64px;
	height:64px;
	background-position:30.917874396135264% 99.69871794871794%;
}

.icon--twitter{

	width: 51.78px;
	height:42.06px;
	background-position:94.15199343125627% 62.942564909520065%;
}

.icon--wifi{

	width: 60px;
	height:64px;
	background-position:60.66350710900474% 99.69871794871794%;
}

.icon--youtube{

	width: 34.75px;
	height:42px;
	background-position:79.57671957671958% 87.37640449438203%;
}
